.show-page-header-information {
    font-size: 30px;
    color: #333;
    font-weight: 700;
    font-size: 30px;
    font-family: "Open Sans Condensed",sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.step-show-body p {
    text-align: center;
}

a.article-index-item-title {
    flex: 1;
}

.article-index-item-info {
    display: flex;
    flex-direction: column;
}
