li.article-index-item {
	margin: 15px 12px;
    width: 305px;
    background: #fff;
     border: 1px solid rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
}



.article-index-link img {
	min-width: 100%;
    height: 258px;
}

.article-index-link {
	width: 303px;
    height: 255px;
    overflow: hidden;
}


.article-index-item-info {
	box-sizing: border-box;
    padding: 15px;
    background-color: #FFFFFF;
    width: 100%;
    min-height: 104px;
}

.article-index-item-title {
	font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    text-decoration: none;	
}

.article-index-list{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 30px;
    margin: 0 auto;
    justify-content: center;
	
}

.Main {
    background: #f6f6f6;
}

.article-user p {
    color: #555;
}

span.article-index-user {
    color: black;
}


