.show-page-header-information {
    font-size: 30px;
    color: #333;
    font-weight: 700;
    font-size: 30px;
    font-family: "Open Sans Condensed",sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.step-show-body p {
    text-align: center;
}

a.article-index-item-title {
    flex: 1;
}

.article-index-item-info {
    display: flex;
    flex-direction: column;
}

.seperator {
    background-color: #ccc;
    height: 1px;
    width: 174px;
    margin: 0 auto;
    position: relative;
    bottom: 30px;
}

button.delete-article-show {
    padding: 6px 6px;
    background-color: #e74c3c;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid red;
    margin-bottom: 20px;
}

.show-page-header-information p {
    font-size: 17px;
    color: #3498db;
    margin-top: 13px;
    text-transform: capitalize;
}