// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show-page-container {
    margin: 0 auto;
    width: 1200px;
    text-align: center
}

.show-page-container img {
    width: 500px;
    margin-top: 30px;
}
