.footer-container {
    background: #404040;
    height: 300px;
    flex-shrink: 0;
}


fa-github {
	color:white
	
}


svg.svg-inline--fa.fa-linkedin.fa-w-14.fa-4x {
    color: white;
}

svg.svg-inline--fa.fa-github.fa-w-16.fa-4x {
    color: white;
}

.footer-content {
    margin: 0 auto;
    width: 90%;
    position: relative;
    top: 50%;
}

.footer-content a {
    margin: 0px 28px;
}





