nav.nav-bar-main {
    background: #eee;
    border-bottom: 1px solid #ddd;
}


.nav-bar-container {
    padding: 30px;
    height: 78px;
    box-sizing: border-box;
    display: flex;
    font-family: 'Rubik', sans-serif;
    background-color: #EEEEEE;
    align-items: center;
}

.session_buttons {
	display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 30px;
}

.session_buttons a {
    text-decoration: none;
    cursor: pointer;
    line-height: 22px;
    color: #777;
    padding: 0 8px;
    font-size: 12px;
}

.pipe {
	color: #ccc;
	position: relative;
    top: 4px;
}

.greeting_container {
    position: absolute;
    right: 30px;
}

div#session_form_container {
    z-index: 1000;
    position: absolute;
    left: 0px;
    top:79px;
    height: 700px;
    width: 400px;
    left: 50px;
    background: rgba(34,34,34,.25);
}

form#session_inputs {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 130px;
    padding: 20px;
}

form#session_inputs input {
    margin-bottom: 20px;
    font-size: 16px;
    height: auto;
    padding: 9px 11px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border linear .2s,box-shadow linear .2s;
}

form#session_inputs button {
    background-color: #e86c00;
    border-color: #cf6000;
    color: #fff;
    padding: 10px 0px;
    font-size: 17.5px;
    border-radius: 6px;
    cursor: pointer;


}

form#session_inputs p {
    margin-top: 14px;
    text-align: center;
    color: white;
}

form#session_inputs a {
	color:white;

}

svg.svg-inline--fa.fa-bomb.fa-w-16.fa-4x {
    color: black;
    display:flex
}

form#session_inputs #demo_button {
    background-color: #2980b9;
    border: 1px solid #2980b9;
    margin-top: 15px;
    cursor: pointer;
}


.form-container {
    background-image: image-url("session_form_pic.jpg");
    background-size: 100%;
    height: 100vh;
    background-attachment: fixed;
}

a.nav-bar-link {
    margin-right: 40px;
    text-decoration: none;
}

header.nav-bar-logo {
    display: flex;
}

.nav-bar-logo {
    display: flex; 
}

.nav-bar-logo h1 {
    margin: auto;
    font-size: 30px;
    color: black;
}

.nav-bar-create-article-button {
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #cccccc;
    cursor: pointer;
    padding: 7px 12px;
    font-size: 14px;
}

.nav-bar-search {
    margin-right: 15px;
    position: relative;
}

.nav-bar-search-text {
    width: 65%;
    padding: 5px 5px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.nav-bar-search-button {
    color: white;
    background-color: #c8c8c8;
    border-color: #ccc;
    position: absolute;
    height: 100%;
    left: 65%;
    border-radius: 0 4px 4px 0;
}

.fa-lg {
    font-size: 1.3333333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.article-new-modal-header img {
    width: 100%;
}

.article-form-modal-button {
    background-color: #4165A5;
    border-radius: 5px;
    height:44px;
    border:none;
    font-size: 20px;
    line-height: 5px;
    color: white;
    margin: 0 98px;
    margin-bottom:20px;
    width:256px;
}

button.nav-bar-create-article-button a {
    text-decoration: none;
    color: black;
}











