input.navbar-search-input {
    width: 90%;
    padding: 5px 5px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}


li.search-item img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.navbar-container {
    position: absolute;
    z-index: 10;
    background-color: white;
    display: flex;
    border: 1px solid #ccc
}

li.search-item a {
    text-decoration: none;
    color: black;
}

li.search-item a {
    text-decoration: none;
}

li.search-item {
    padding: 11px;
    border: 1px solid #ccc;
}

span.search-title {
    position: relative;
    bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    padding: 7.2px;
    color: white;
    background-color: #c8c8c8;
    border-color: #ccc;
    border-radius: 0 4px 4px 0;
    position: relative;
    right: 3px;
}


