.slider {
	height: 700px;
	width: 100%;
}

.slider.two {
	background-image: image-url("slide2.jpg");
	background-size: 100%;

}

.slider.three {
	background-image: image-url("slide3.jpg");
	background-size: 100%;

}

ul.slick-dots {
    position: relative;
    bottom: 45px;
}


.slide-show-text {
    position: absolute;
    z-index: 4;
}

.slide-show-text h1 {
	color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    text-shadow: 6px 5px black;
}

