.user-profile-banner {
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 30px 20px 20px 20px;
}

.user-profile-banner img {
    height: 150px;
    border-radius: 50%;
}